<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          {% if site.so_username %}
          <li>
            {% include icon-so.html username=site.so_username %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
	<script>
		if (localStorage.getItem('darkMode') == 1) {
			var element = document.body;
			console.log(localStorage.getItem('darkMode'));
			element.classList.add("dark-mode");
			let e2 = document.getElementsByClassName("page-link")
			for (const e of e2){
				e.classList.add("dark-mode");
			}
		}

		function darkMode() {
			var element = document.body;
			let e2 = document.getElementsByClassName("page-link")
			element.classList.toggle("dark-mode");
			for (const e of e2){
				e.classList.toggle("dark-mode");
			}
			if (localStorage.getItem('darkMode') == 1) {
				localStorage.setItem('darkMode', 0);
				//console.log('if', localStorage.getItem('darkMode'));
			} else {
				localStorage.setItem('darkMode', 1);
				//console.log('lse', localStorage.getItem('darkMode'));
			}
		}

		function KeyPress(e) {
			console.log(e);
			var evtobj = window.event? event : e
			if (evtobj.keyCode == 88 && evtobj.ctrlKey && evtobj.shiftKey) {
				darkMode();
			}
		}
		document.onkeydown = KeyPress;
	</script>
	<button onclick="darkMode()">Dark mode (Ctrl-Shift-X)</button>
  </div>


</footer>
